body {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 18pt;
	background-color:#777;
	text-align: center;
}
.container {
	width: 80%;
	margin: 0 auto;
}
header {
	background-color: #ebebeb;
}
nav {
	background-color: #ebebeb;

}
footer {
	background-color: #ebebeb;

}
section {
	background-color: #ebebeb;

}
aside {
	background-color: #ebebeb;

}
article {
	background-color: #ebebeb;

}
.clear {
	clear:left;
}
h1, h2, h3 {
	font-size: 18pt;
	font-weight: bold;
}
p {

}